{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <title>ژرف دریا پژوهش پارس</title>
</head>
<body>

    <article class="map">
        <div id="map"></div>
    </article>

    
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'leaflet/main-leaflet.js' %}"></script>
    
</body>
</html>
